/* navbar.css */
nav {
    z-index: 200;
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding: 0;
}

nav nav {
    background-color: #000;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}

nav li a:hover {
    background-color: rgb(141, 201, 208);
}

nav li.selected a {
    background-color: #555;
}

/* Apply dark mode styles for navbar */
body.dark-mode nav nav {
    background-color: #333;
    color: #fff;
}

body.dark-mode nav li a {
    color: #fff;
}

body.dark-mode nav li.selected a {
    background-color: #555;
}

/* Apply light mode styles for navbar */
body:not(.dark-mode) nav {
    background-color: #000;
}

body:not(.dark-mode) nav li a {
    color: #000;
}

body:not(.dark-mode) nav li.selected a {
    background-color: #555;
}
